.PostRequsest {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.formPagen {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 380px;

  &__inp {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  &__button {
    display: flex;
    justify-content: center;
  }
}


.inp {
  width: 380px;
  padding: 14px 16px;
  border: 1px solid #D0CFCF;
  border-radius: 4px;
}